<div id="logfile" class="centerbox tab-pane fade" style="padding: 2em;">
	<h3 class="wdheading">Log File</h3>
	<br/>
	<form>
		<label for="logfilename" style="width: 12em;">Log File:</label>
		<input type="text" id="logfilename" /><br />
		<label for="logdelay" style="width: 12em;">Log Delay (ms):</label>
		<input type="number" min=0 id="logdelay" value='0' /><br />
		<br/>
		<button class="btn btn-primary" onclick="WD.runlogfile();return false;" style="width:9em;">Run Log File</button>
	</form>
	<br/>
</div>
</div>